@tailwind base;
@tailwind utilities;

:root {
	--bg: #fff;
	--bgSoft: #eaeaea;
	--text: #000;
	--textSoft: #777777;
	--btn: #9025f5;
}

body {
	color: var(--text);
	background-color: var(--bg);
}

.dark {
	--bg: #121a2e;
	--bgSoft: #1f273a;
	--text: #ddd;
	--bgNavbar: #4c4b4e;
	--textSoft: #bbbaba;
	--btn: #5b0ef4;
	--btnOver: #5405f2;
	--bgCard: #141c2e;
	--textCard: #ddd;
}

.light {
	--bg: #fff;
	--bgSoft: #eaeaea;
	--text: #000;
	--bgNavbar: #93c23b;
	--textSoft: #5f5d5d;
	--btn: #0a090c;
	--btnOver: #322d3c;
	--bgCard: #eddbfc;
	--textCard: #000;
}

.container {
	width: 100wh;
	margin: 0;
	/*padding-left: 50px;
  padding-right: 50px;*/
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	color: var(--text);
	background-color: var(--bg);
}
